#headerImage {
	width: 100vw;
	height: auto;
	padding-bottom: 5%;
}

.leftNav {
	display: inline-block;
	width: 25vw;
	margin-right: 7%;
}

.navElement {
	background-color: #ebecee;
	border-bottom: 1px solid white;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: #9ba0a4;
	line-height: 60px;
	padding-left: 20%;
	position: relative;
}

.nav8 {
	height: 15vw;
	background-color: #ebecee;
}

.icon {
	position: absolute;
	right: 4%;
	top: 0;
	bottom: 0;
	margin: auto;
	display: none;
}

.greyIcon {
	opacity: 1;
}

.blueIcon {
	opacity: 0;
}

.mainInfo {
	display: inline-block;
	position: absolute;
}

.largeIcon {
	display: inline-block;
}

.chatIcon, .piggyIcon, .barsIcon, .bookIcon, .houseIcon, .handIcon {
 	display: none;
 }

.mainTitle {
	display: inline-block;
	margin: 0;
}

.mainTitle h2, .mainTitle p {
	margin: 0 0 0 2%;
	display: inline-block;
	font-family: 'Source Sans Pro', sans-serif;
}

.mainTitle p {
	font-weight: 300;
	font-size: 18px;
	line-height: 20px;
	color: #5c6366;
}

.mainTitle h2 {
	font-weight: 600;
	font-size: 30px;
	line-height: 20px;
	color: #36abe1;
	margin-bottom: 10px;
}

.mainText {
	margin-right: 7%;
	margin-top: 2em;
	font-family: Helvetica;
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
	color: #65686f;
}

.stepText {
	font-weight: bold;
	display: none;
}

.friendName {
	color: #6fbee7;
}

@media all and (min-width: 690px){
	.icon {
		display: inline-block;
		height:32.5px;
		width: 38.5px;
	}
}

@media all and (min-width: 873px){
	.icon {
		height:42.9px;
		width: 50.82px;
	}	

	.navElement {
		padding-left: 30%;
	}
}
